<div class='form-group align-item-center container border' >
  <div class='text-center'>
    <h1>New Comment </h1>
  </div>
  
  <%= form_for ([@task, @comment]) do |f| %>
    <div class='row'>  
      <p class='col-4'></p>
      <div class='col-4 text-center' >
        <%= f.label :body, 'Comment' %>
        <%= f.text_field :body, class: 'form-control mb-2', placeholder: 'Type a Comment'%>
      </div>
    </div>

    <br>
    
    <div class='row'>
      <p class='col-4'></p> 
      <div class='col-4' align='center'> 
        <%= f.hidden_field :user_id, value: params[:id]%>
        <%= f.submit class: 'btn btn-primary col-4'%>
        <%= link_to 'My Tasks', tasks_path, class: 'btn btn-secondary col-4' %>
      </div>
    </div>

  <% end %>
</div>
