<div class='form-group align-item-center container border' >
  <div class='text-center'>
    <h1>New Task</h1>
  </div>
  
  <%= form_for @task do |f| %>
    <div class='row'>  
      <p class='col-4'></p>
      <div class='col-4 text-center'>
        <%= f.label :title, 'Title:' %>
        <%= f.text_field :title, class: 'form-control mb-2', placeholder: 'Type a title'%>
      </div>
    </div>
    <br> 
  
    <div class='row'>
      <p class='col-4'></p> 
      <div class='col-4' align='center'>
        <%= f.label :description, 'Description'%>
        <%= f.text_area :description, class: 'form-control mb-2', rows: '4'%>
      </div> 
    </div>

    <br>

    <div class='row'>
      <p class='col-4'></p> 
      <div class='col-4' align='center'>
        <%= f.label :priority, 'Priority', placeholder: 'low, medium or high' %>
        <%= f.text_area :priority, class: 'form-control mb-2', rows: '4' %>
      </div>
    </div>

    <br>

    <div class='row'>
      <p class='col-4'></p> 
      <div class='col-4' align='center'> 
        <%= f.hidden_field :user_id, value: params[:id]%>
        <%= f.submit class: 'btn btn-primary col-4'%>
        <%= link_to 'Go Back', :back, class: 'btn btn-secondary col-4' %>
      </div>
    </div>
  <% end %>
</div>